

body {
  background-color: rgb(219, 216, 213);
  margin: 4rem;
  padding: 0;
}

#titulo {
  -webkit-text-stroke: 0.3px white;
  color: black; 
  padding: 2rem;
}

#agregarProducto {
    display: inline-grid;
    padding-left: 4rem;
}

#ulStock {
  padding: 2rem;
  border-style: groove;
  border-radius: 0.5rem;
  border-color: black;
}
