

body {
  background-color: rgb(219, 216, 213);
}

#titulo {
  -webkit-text-stroke: 0.3px white;
  color: black; 
  padding: 2rem;
}

#agregarProducto {
    display: inline-grid;
    padding-left: 4rem;
}

body {
    margin: 4rem;
    padding: 0;
  }
  
